.single-project-up-admin{
    /* background-color: aqua; */
    height: fit-content;
    width: 90%;
    margin: 5rem 5%;
}

.single-project-up-admin form{
    width: 60%;
    margin: 0 10%;
    /* background-color: aqua; */
    padding: 2rem;
    border-radius: 1rem;
    border: solid var(--color-2) ;
    
}

.single-project-up-admin form .row{
    
    /* background-color: blue; */
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;

}

.single-project-up-admin form .row input,
.single-project-up-admin form .row select,
.single-project-up-admin form .row textarea
{
    width: 15rem;
    background-color: var(--color-light);
    color: var(--color-2);
    border-radius: .5rem;
    height: 2rem;
    padding: 0.2rem;
}

.single-project-up-admin form .row textarea{
    height: 4rem;
    
}

.single-project-up-admin form button{
    background-color: var(--color-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--color-light);
}