.create-cat-admin{
    /* background-color: aqua; */
    height: fit-content;
    width: 90%;
    margin: 5rem 5%;
}

.create-cat-admin form{
    width: 60%;
    margin: 0 10%;
    /* background-color: aqua; */
    padding: 2rem;
    border-radius: 1rem;
    border: solid var(--color-2) ;
    
}

.create-cat-admin form .row{
    
    /* background-color: blue; */
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;

}

.create-cat-admin form .row input,
.create-cat-admin form .row select,
.create-cat-admin form .row textarea
{
    width: 15rem;
    background-color: var(--color-light);
    color: var(--color-2);
    border-radius: .5rem;
    height: 2rem;
    padding: 0.2rem;
}

.create-cat-admin form .row textarea{
    height: 4rem;
    
}

.create-cat-admin form button{
    background-color: var(--color-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--color-light);
}
/*  */


.update-cat-admin{
    /* background-color: aqua; */
    height: fit-content;
    width: 90%;
    margin: 5rem 5%;
}

.update-cat-admin form{
    width: 60%;
    margin: 0 10%;
    /* background-color: aqua; */
    padding: 2rem;
    border-radius: 1rem;
    border: solid var(--color-2) ;
    
}

.update-cat-admin form .row{
    
    /* background-color: blue; */
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;

}

.update-cat-admin form .row input,
.update-cat-admin form .row select,
.update-cat-admin form .row textarea
{
    width: 15rem;
    background-color: var(--color-light);
    color: var(--color-2);
    border-radius: .5rem;
    height: 2rem;
    padding: 0.2rem;
}

.update-cat-admin form .row textarea{
    height: 4rem;
    
}

.update-cat-admin form button{
    background-color: var(--color-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--color-light);
}



/*-------------------------------------------------------*/


.category-admin{
    /* background-color: aqua; */
    width: 90%;
    margin: 7rem 5%;
}


.category-admin .btn-cnt{
    /* margin: 3rem 1rem; */
    padding: .6rem;
    border-radius: 1rem;
    width: fit-content;
    background-color: var(--color-2);
    /* color: ; */
}
.category-admin label,
.category-admin a{
    color: var(--color-light);
    font-style: normal;  
    text-decoration: none; 
}

.category-admin .btns-cnt{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 1rem;
    /* background-color: burlywood; */
    justify-content: space-between;
}

.category-admin .card{
    /* background-color: red; */
    border: solid var(--color-2);
    border-radius: 2rem;
    padding: 2rem 1rem;
    margin:  1rem 0;
    /* width: 75%; */
}