@media screen and (min-width: 1200px){
    .home{
        margin: var(--margin-tb) 0;
        width: 100%;
        height: 100%;

    }
    
    .home .containner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .home .containner .contnent-containner{
        width: 60%;
    }
    

    
    .home .containner .contnent-containner h1{
        font-size: 4.2rem;  
    }
    .home .containner .contnent-containner p{
        margin: var(--margin-tb-div-cnt) 0;
        
    }
    
    .home .containner .contnent-containner .btn-cmp{
        align-items: center;
        text-align: center;        
    }
    .home .containner .model-cmp{
        /* background-color: antiquewhite; */
        width: 100%;
        min-height: 50vh;

    }
}

@media screen and (min-width: 801px) and (max-width: 1199px){
   
}


@media screen and (max-width: 800px){
   

}
