.chat-page{
    /* background-color: var(--color-white); */
    border-radius: 1rem;
    overflow: hidden;
    padding: 0.5rem 1rem;
    margin:0 .3rem;
    border: solid .2rem var(--color-white);
    /* box-shadow: 0 0 5px var(--color-bg-pr),
               0 0 10px var(--color-bg-pr) ,
               0 0 20px var(--color-bg-pr); */
    backdrop-filter: blur(var(--blur-main-v));
    -webkit-backdrop-filter: blur(var(--blur-main-v));
    color: var(--color-white);
}
.chat-page .top{
    height: 25rem;

}
.chat-page .top .message{
    background-color: var(--color-text);
    margin: .5rem 0;
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    border-radius: 1rem;
    color: var(--color-white);
}

.chat-page .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.chat-page .footer input{
    height: 3rem;
    background-color: var(--color-text) ;
    border-radius: var(--border-radius-v);
    padding: 0 .5rem;
    color: var(--color-white);

}

.chat-page .footer button{
    height: 3rem;
    width: 5rem;
    background-color: var(--color-text);
    border-radius: 1rem;
    padding: 0 .5rem;
    font-weight: bold;
    font-size: medium;
    color: var(--color-white);
    margin-left: 0.5rem;
}