@media screen and (min-width: 1200px) {
    .work {
        width: 90%;
        margin: var(--margin-tb) var(--margin-lr) 0 var(--margin-lr);

    }

    .work .header {
        margin-bottom: var(--main-cnt-padding);
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: var(--main-cnt-padding);
        align-items: center;
    }

    .work .header .title {
        width: 45%;
    }

    .work .header h1 {
        align-items: center;
        width: fit-content;
        color: var(--color-text);
        background-color: var(--color-bg-pr);
        border-radius: 0.5rem;
        padding: .0rem 0.2rem;
    }

    .work .header p {
        color: var(--color-p);
        font-weight: 400;
        font-size: 0.9rem;
    }

    .work .card {
        
        width: 100%;
        min-height: 35vh;
        border-radius: 1rem;
        margin: .75rem 0;
        box-shadow: 0rem .2rem .04rem var(--color-text);
        border: solid 2px var(--color-text);
        position: relative;
        overflow: hidden;
        
    }
    .work .card .img-cmp{
        width: 100%;
        height: 100% ;
        overflow: hidden;
        border-radius: 1rem;
        overflow: hidden;
        position: absolute;
        z-index: 1;
    }
    

     .work .card .txt-cmp{
        z-index: 2;
        padding: .25rem 0 0 1rem;
        gap: 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.3); /* semi-transparent white */
        backdrop-filter: blur(1px);                /* blur the background */
        -webkit-backdrop-filter: blur(1px);        /* for Safari support */
                      

     }
     .work .card .img-cmp img{
        width: 100%;
        height: max-content;
        object-fit: cover;     /* Crop to fill both dimensions, keep aspect ratio */
        object-position: center;
    }
    .work .card .img-cmp img{
        width: 100%;
        height: 100%;
        
    }

     .work .card .txt-cmp p,.work .card .txt-cmp small ,.work .card .txt-cmp h5{
        
        /* color: var(--color-white); */
        color: var(--color-white);
        background-color: var(--color-text);
        width: fit-content;
        padding: .1rem;
     }

     .work .card .txt-cmp a{
        text-align: right;
        padding: .7rem;
        min-width: 5rem;
        font-size: .75rem;
     }

     .work .footer-work .btn{
        /* text-align: right; */
        margin-top: var(--main-cnt-padding);
     }



     .work .footer-work {
        width: 100%;
        text-align: center;
     }


     


    


}

/* @media screen and (min-width: 801px) and (max-width: 1199px){
    .work {
        width: 90%;
        margin: 7rem 5%;
        background-color: var(--color-white);

    }

    .work .header {
        margin: 5rem 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 2rem;
        align-items: center;
    }

    .work .header .title {
        width: 45%;
    }

    .work .header h1 {
        align-items: center;
        width: fit-content;
        color: var(--color-text);
        background-color: var(--color-bg-pr);
        border-radius: 0.5rem;
        padding: .0rem 0.2rem;
    }

    .work .header p {
        color: var(--color-text);
        font-weight: 400;
        font-size: 0.9rem;
    }

    .work .card {
        width: 100%;
        border-radius: 2rem;
        padding: 2rem;
        margin: 1rem 0;
        box-shadow: 0rem .3rem .04rem var(--color-dark);
        border: solid 2px var(--color-dark);
        
    }
} */
/* 
@media screen and (max-width: 800px) {
    .work {
        width: 96%;
        margin: 1rem 2%;
        background-color: var(--color-white);

    }

    .work .header {
        margin: 5rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0rem;
        align-items: center;
    }

    

    .work .header h1 {
        align-items: center;
        width: fit-content;
        color: var(--color-text);
        background-color: var(--color-bg-pr);
        border-radius: 0.5rem;
        padding: .0rem 0.2rem;
    }

    .work .header p {
        color: var(--color-text);
        font-weight: 400;
        font-size: 0.9rem;
    }

    .work .card {
        width: 100%;
        border-radius: 4rem;
        padding: 2rem;
        margin: 1rem 0;
        box-shadow: 0rem .3rem .04rem var(--color-dark);
        border: solid 2px var(--color-dark);
    }

    .work .aa {
        background-color: var(--color-bg-pr);

    }

    .work .bb {
        background-color: var(--color-light);

    }

    .work .card .p1-componment {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .work .card .p1-componment h1 {
        font-size: small;

    }
    .work .card .p1-componment span {
        font-size: large;

    }

    .work .card .p1-componment .icon {
        background-color: var(--color-white);
        color: var(--color-text);
        font-size: 1.5rem;
        border-radius: 100%;
        border: solid 1px var(--color-text);
    }

    .work .card hr {
        border: 1px solid var(--color-text);
    }

    .work .diff {
        font-size: 3.5rem;
    }
} */

.work .split-page{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.work .split-page .map-cnt{
    width: 55%;
    margin-right: 5% ;
    overflow: hidden;
    height: fit-content;
    border-radius:var(--border-radius-v) ;
    border: solid .2rem var(--color-text);
}
.work .split-page .project-list{
    width: 40%;
    overflow: hidden;
    height: 65vh;
    overflow-y: auto;
    
}

.work .project-list .btn-cnt{
    text-align: right;
    padding: 1rem;
}

.work  .search-cnt{
    /* background-color: aqua; */
    align-items: center;
    padding: 1rem;
    margin: 3rem 0;
}
.work  .search-cnt .search{
    width: fit-content;
    overflow: hidden;
    background-color: var(--color-white);
    border: .1rem var(--color-dark) solid;
    border-radius: 2rem;
    height: 3.5rem;
    align-items: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    
}

.work  .search-cnt .search input{
    width: 45rem;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2rem;
    border: none;
    font-size: larger;
    /* margin: 1rem; */
}
.work  .search-cnt .search button{
    width: 5rem;
    height: 100%;
    margin:0;
    /* height: 100%; */
    padding: 0;
    
    background-color: transparent;
    align-items: center;
    border: none;
    border-radius: 2rem;
    background-color: var(--color-text);
    color: var(--color-white);
    /* margin: 1rem; */
}

.work .search-cnt .search input:focus {
    outline: none;
}