.nav-adm{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:  5% ;
    /* filter: invert(); */
    /* background-color: black; */
    /* display: none; */

}

.nav-adm .p2{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:  5% ;
    /* background-color: black; */

}