.chat-cnt{
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 1000000;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.chat-cnt .chat-btn-op{
    width: 5rem;
    height: 5rem;
    background-color: var(--color-bg-pr);
    background-color: var(--color-4);
    border-radius: 5rem;
    padding: 1.5rem 1rem;
    text-align: center;
    color: var(--color-black);
    font-size: larger;
    font-weight: bold;
    border: solid .1rem;
}

.chat-cnt .chat-bx{
    width: 20rem;
    height: 30rem;
}

body{
    background-image: url("/bg/2.jpg"); 
    background-size: 320px auto;
    height: fit-content;
    background-repeat: repeat;
}